<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LUA Moda</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/styles.css') }}">

</head>


<body>


<header>

    <h1>LUA MODA</h1>

    <nav>

        <a href="/">Inicio</a>

        <a href="/productos">Productos</a>

        <a href="/contacto">Contacto</a>

    </nav>

</header>


{% block contenido %}

{% endblock %}


<footer>

    <p>LUA Moda © 2026</p>

</footer>


</body>

</html>